<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rails Skeleton</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <form method="post" action="/skeleton">
    <div>
      App Name<input type="text" name="app_name">
    </div>
    <div>
      <input type="radio" name="database" value="mysql">MySQL
      <input type="radio" name="database" value="sqlite3">SQLite3
    </div>
    <button class="btn btn-lg btn-primary">ダウンロード</button>
  </form>
</body>
</html>
