<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rails Skeleton</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Rails Skeleton</h1>
    </div>
    <div class="row">
      <form method="post" action="/skeleton" role="form" class="form-horizontal">
        <div class="form-group">
          <label for="app_name" class="col-md-2 control-label">Application Name</label>
          <div class="col-md-4">
            <input type="text" class="form-control" id="app_name" name="app_name" placeholder="Bone" required>
          </div>
        </div>
        <div class="form-group">
          <label for="database" class="col-md-2 control-label">Database</label>
          <div class="col-md-10">
            <label class="radio-inline">
              <input type="radio" id="database_sqlite3" name="database" value="sqlite3" checked> SQLite3
            </label>
            <label class="radio-inline">
              <input type="radio" id="database_mysql" name="database" value="mysql"> MySQL
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="testing_framework" class="col-md-2 control-label">Testing Framework</label>
          <div class="col-md-10">
            <label class="radio-inline">
              <input type="radio" id="testing_framework_rspec" name="testing_framework" value="rspec" checked> RSpec
            </label>
            <label class="radio-inline">
              <input type="radio" id="testing_framework_test_unit" name="testing_framework" value="test_unit"> Test::Unit
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="stylesheet" class="col-md-2 control-label">Style Sheet</label>
          <div class="col-md-10">
            <label class="radio-inline">
              <input type="radio" id="stylesheeet_scss" name="stylesheet" value="scss" checked> SCSS
            </label>
            <label class="radio-inline">
              <input type="radio" id="stylesheeet_sass" name="stylesheet" value="sass"> Sass
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="bootstrap" class="col-md-2 control-label">
            <a href="http://getbootstrap.com/" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
            Bootstrap
          </label>
          <div class="col-md-10">
            <label class="radio-inline">
              <input type="radio" id="bootstrap_not_use" name="bootstrap" value="not_use" checked> Not Use
            </label>
            <label class="radio-inline">
              <input type="radio" id="bootstrap_not_use" name="bootstrap" value="use"> Use
            </label>
          </div>
        </div>
        <div class="form-group" style="margin-top:60px">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-lg btn-default">Download</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
